node_modules/
super/
.env
*.pyc
__pycache__
.DS_Store
release/
test/
uploaded_files/
kb/
build_python.spec
server.build/
server.dist/
agents/
config/settings.json
config/safety_words.json
test/
.venv/
agents/
server.build/
server.dist/
doc/
*.spec
super-agent-data/
botpy.log*
build.bat
test*
wxauto*

static/ext/*

.tio.tokens.json

/build/
/dist/

.agent/
vts_token.txt